nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #aaa;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    margin-left: 1.3rem;
    display: inline-block;
  }
  
  ul li a {
    font-size: 1.1rem;
    color: #aaa;
  }
  